# Feature Selection- Dropping constant features
In this step we will be removing the features which have constant features which are actually not important for solving the problem statement

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/mural/Desktop/New folder/train.csv")

# convert categ to num
#Vehicle age

# Vehicle age

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
Vehicle_Age = pd.get_dummies(df['Vehicle_Age'])

In [5]:
Vehicle_Damage = pd.get_dummies(df['Vehicle_Damage'])
Gender = pd.get_dummies(df['Gender'])

# drop coloumns which are converted into ohe form from main df¶¶

In [6]:
df.drop(['Vehicle_Damage', 'Vehicle_Age','Gender','id'], axis='columns', inplace=True)

In [7]:
x=pd.concat([df, Vehicle_Age,Vehicle_Damage,Gender],axis=1)
x.drop(['Response'], axis='columns', inplace=True)
x.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,1-2 Year,< 1 Year,> 2 Years,No,Yes,Female,Male
0,44,1,28.0,0,40454.0,26.0,217,0,0,1,0,1,0,1
1,76,1,3.0,0,33536.0,26.0,183,1,0,0,1,0,0,1
2,47,1,28.0,0,38294.0,26.0,27,0,0,1,0,1,0,1
3,21,1,11.0,1,28619.0,152.0,203,0,1,0,1,0,0,1
4,29,1,41.0,1,27496.0,152.0,39,0,1,0,1,0,1,0

In [8]:
y=df.Response

In [9]:
from sklearn.model_selection import train_test_split
# separate dataset into train and test

In [10]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
print(X_train.shape)
print(X_test.shape)

(304887, 14)
(76222, 14)

In [11]:
### It will zero variance features
from sklearn.feature_selection import VarianceThreshold

# Lets apply the variance threshold

In [17]:

var_thres=VarianceThreshold(threshold=0.1)
var_thres.fit(X_train)

VarianceThreshold(threshold=0.1)

In [18]:

var_thres.get_support()

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True])

In [19]:

### Finding non constant features
sum(var_thres.get_support())

12

In [20]:
constant_columns = [column for column in X_train.columns
                    if column not in X_train.columns[var_thres.get_support()]]

print(len(constant_columns))

2

In [21]:

for column in constant_columns:
    print(column)

Driving_License
> 2 Years