In [1]:
import numpy as np
import pandas as pd
!pip install seaborn --upgrade

Requirement already up-to-date: seaborn in c:\users\mural\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\users\mural\anaconda3\lib\site-packages (from seaborn) (1.21.2)
Requirement already satisfied, skipping upgrade: scipy>=1.0 in c:\users\mural\anaconda3\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied, skipping upgrade: pandas>=0.23 in c:\users\mural\anaconda3\lib\site-packages (from seaborn) (1.3.3)
Requirement already satisfied, skipping upgrade: matplotlib>=2.2 in c:\users\mural\anaconda3\lib\site-packages (from seaborn) (3.1.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\users\mural\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\mural\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2.8.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\mural\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\mural\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.1.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mural\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\mural\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.12.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\mural\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (41.4.0)

In [2]:
df=pd.read_csv("C:/Users/mural/Desktop/New folder/train.csv")

# Age

In [3]:
df.Age.mean()

38.822583565331705

In [4]:
df.Age.std()

15.511611018090681

# (1) Outlier detection and removal using 3 standard deviation
One of the ways we can remove outliers is remove any data points that are beyond 3 standard deviation from mean. Which means we can come up with following upper and lower bounds

In [5]:
upper_limit = df.Age.mean() + 3*df.Age.std()
upper_limit

85.35741661960375

In [6]:
Lower_limit = df.Age.mean() - 3*df.Age.std()
Lower_limit

-7.712249488940337

In [7]:
df[(df.Age>upper_limit) | (df.Age<Lower_limit)]

Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage, Response]
Index: []

#no outliers for Age

# Driving_License

In [8]:
upper_limit = df.Driving_License.mean() + 3*df.Driving_License.std()
Lower_limit = df.Driving_License.mean() - 3*df.Driving_License.std()

upper_limit,Lower_limit

(1.1361980085768162, 0.8595407433288066)

In [22]:
df[(df.Driving_License!=1) | (df.Driving_License!=0)]

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

# here there is no need for outlier detection since person having lic 1,not 0 
so if calc upper,low lim >1 or <0.83 is invalid in this case hence it based on domain knowledge 
or common sense

# Region_Code

In [29]:
upper_limit = df.Region_Code.mean() + 3*df.Region_Code.std()
Lower_limit = df.Region_Code.mean() - 3*df.Region_Code.std()

upper_limit,Lower_limit

(66.07847147890195, -13.30085667578788)

In [32]:
df[(df.Region_Code>upper_limit) ]

Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage, Response]
Index: []

In [35]:
 df[(df.Region_Code<Lower_limit)]

Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage, Response]
Index: []

#in region code feature there are no outliers present in b//w -3(sigma) to +3(sigma) disb

# Previously_Insured

In [36]:
upper_limit = df.Previously_Insured.mean() + 3*df.Previously_Insured.std()
Lower_limit = df.Previously_Insured.mean() - 3*df.Previously_Insured.std()

upper_limit,Lower_limit

(1.9529637150281858, -1.0365434782980116)

here uppL and lrl have no use in predicting outliers. 
it is a commonsense that person having ins 1 not 0, other than these values are considered as 
outliers. but in this case uppl,llr have produced blind results

# Annual_Premium

In [38]:
upper_limit = df.Annual_Premium.mean() + 3*df.Annual_Premium.std()
Lower_limit = df.Annual_Premium.mean() - 3*df.Annual_Premium.std()

upper_limit,Lower_limit

(82203.85475236017, -21075.075589443528)

In [40]:
df[(df.Annual_Premium>upper_limit) ]

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
167,168,Female,26,1,8.0,0,< 1 Year,Yes,89282.0,152.0,101,0
176,177,Male,25,1,28.0,1,< 1 Year,No,101021.0,152.0,49,0
315,316,Male,20,1,12.0,0,< 1 Year,Yes,82705.0,160.0,49,0
401,402,Male,65,1,28.0,0,1-2 Year,Yes,90789.0,26.0,186,1
429,430,Female,44,1,28.0,0,1-2 Year,Yes,119735.0,152.0,295,0
...,...,...,...,...,...,...,...,...,...,...,...,...
379812,379813,Male,54,1,28.0,1,1-2 Year,No,93221.0,26.0,279,0
380119,380120,Female,21,1,28.0,1,< 1 Year,No,92283.0,152.0,15,0
380313,380314,Female,46,1,28.0,0,1-2 Year,Yes,95453.0,124.0,62,0
380815,380816,Female,32,1,28.0,1,< 1 Year,No,91305.0,152.0,183,0
380998,380999,Female,33,1,8.0,0,1-2 Year,Yes,101664.0,124.0,21,0

In [44]:
(df.Annual_Premium<Lower_limit).value_counts()

False    381109
Name: Annual_Premium, dtype: int64

# there are 2083 outliers are present in ann prem feature which are > 3 sigma values

# Policy_Sales_Channel

In [47]:
df.Policy_Sales_Channel.value_counts()

152.0    134784
26.0      79700
124.0     73995
160.0     21779
156.0     10661
          ...
149.0         1
43.0          1
144.0         1
143.0         1
41.0          1
Name: Policy_Sales_Channel, Length: 155, dtype: int64

In [51]:
(df.Policy_Sales_Channel==26).value_counts()

False    301409
True      79700
Name: Policy_Sales_Channel, dtype: int64

# you should ask domain expert dont remove values which are not in the limits of 3σ΄

# Vintage

In [52]:
upper_limit = df.Vintage.mean() + 3*df.Vintage.std()
Lower_limit = df.Vintage.mean() - 3*df.Vintage.std()

upper_limit,Lower_limit

(405.3613075562988, -96.66651420321605)